body {
    font-family: Arial, sans-serif;
    background-color: purple;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 50;
    padding: 150px;
  }

  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: purple;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ccc;
  }

  .botao-login {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: purple;
    text-decoration: none;
  }
  
  .botao-login:hover {
    background-color: #ccc;
  }
  
  .recuperar {
    text-decoration: none;
    color: purple;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    
  }
  